In [ ]:
fruits = ["Apples", "Bananas", "Pears"]

book1 = {"title": "Great Expectation", "author": "Charles Dickens"}
book2 = {"title": "Bleak House", "author": "Charles Dickens"}
book3 = {"title": "An Book By No Author"}
book4 = {"title": "Moby Dick", "author": "Herman Melville"}

books = [book1, book2, book3, book4]